.station {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.routes {
  opacity: 0.5;
  display: inline-block;
  width: 40%;
  background-color: #ccc;
}

label {
  display: block;
}

#save {
  display: block;
  margin: 0 auto;
  width: 10%;
}

@keyframes fadein {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0.5; }
}

.fade {
  opacity: 0.5;
  animation: fadeout 1s;
}

.unfade {
  opacity: 1;
  animation: fadein 1s;
}
