.station {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.routes {
  display: inline-block;
  width: 40%;
}

label {
  display: block;
}

#save {
  display: block;
  margin: 0 auto;
  width: 10%;
}
