body {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  min-width: 240px;
  max-height: fit-content;
}

h2 {
  padding: 0 2px;
  margin: 0;
  font-size: 22px;
}

div {
  background-color: #CCC;
  border-radius: 5px;
  margin: 0;
}

p {
  padding: 0 2px;
  margin: 0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: right;
  list-style-type: none;
}

li {
  font-weight: 900;
  border-color: black;
  padding-right: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

#st2 {
  display: none;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  position: absolute;
  background: white;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: black;
  right: 20%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

