.route1 {
  background-color: #ffff33;
}

.route2 {
  background-color: #ffff33;
}

.route3 {
  background-color: #ff9933;
}

.route4 {
  background-color: #ff9933;
}

.route5 {
  background-color: #339933;
}

.route6 {
  background-color: #339933;
}

.route7 {
  background-color: #ff0000;
}

.route8 {
  background-color: #ff0000;
}

.route9 {
  background-color: #fff;
}

.route10 {
  background-color: #fff;
}

.route11 {
  background-color: #0099cc;
}

.route12 {
  background-color: #0099cc;
}

.route13 {
  background-color: #fff;
}

.route14 {
  background-color: #fff;
}

.route15 {
  background-color: #fff;
}

.route16 {
  background-color: #fff;
}

.route17 {
  background-color: #fff;
}

.route18 {
  background-color: #fff;
}

.route19 {
  background-color: #d5cfa3;
}

.route20 {
  background-color: #d5cfa3;
}


